.toolbar {
  float: left;
  display: flex;
  font-family: "Trebuchet MS";
  font-size: 18px;
  font-variant: small-caps;
  text-align: center;
  background: #f2f7fe;
  padding: 10px 15px 3px 10px;
  margin-bottom: 1px;
  margin-right: 1px;
  border: 1px solid #7b899b;
}

.toolbarBlock {
  margin: 0px 10px;
}

.toolbarButton {
  padding: 12px;
  margin: 10px;
  /* font-variant: normal; */
  font-size: 16px;
  border-radius: 10px;
  border: none;
  text-transform: uppercase;
}

.toolbarButton:hover {
  cursor: pointer;
  color: #ffffff;
  transform: scale(1.02);
}

.saveButton {
  composes: toolbarButton;
  background-color: #1a8d1a;
}

.clearButton {
  composes: toolbarButton;
  background-color: #b8213a;
}

.toolbarImgButton {
  padding: 3px;
}

.toolbarImgButton:hover {
  transform: scale(1.1);
}
