.toolbar {
  float: left;
  display: flex;
  font-family: "Trebuchet MS";
  font-size: 18px;
  font-variant: small-caps;
  text-align: center;
  background: #f2f7fe;
  padding: 10px 15px 3px 10px;
  margin-bottom: 1px;
  margin-right: 1px;
  border: 1px solid #7b899b;
  border-radius: 10px;
  z-index: 1;
}

.toolbarBlock {
  margin: 0px 10px;
}

.toolbarButton {
  padding: 12px;
  margin: 10px;
  font-variant: normal;
  font-size: 16px;
  border-radius: 10px;
  border: none;
  text-transform: uppercase;
}

.toolbarButton:hover {
  cursor: pointer;
  color: #ffffff;
  transform: scale(1.02);
}

.shareButton {
  composes: toolbarButton;
  background-color: #1a8d1a;
}

.clearButton {
  composes: toolbarButton;
  background-color: #b8213a;
}

.colorCircle {
  height: 35px;
  width: 35px;
  border-radius: 50%;
  display: inline-block;
  margin: 12px 5px;
}

.widthLine {
  height: 35px;
  display: inline-block;
  margin: 12px 10px;
  background-color: #82817F;
}

.colorCircle:hover,
.widthLine:hover {
  transform: scale(1.1);
  cursor: pointer;
}

.activeElement {
  border: 1.5px rgba(0, 0, 0, 0.6) solid;
}

.redCircle {
  composes: colorCircle;
  background-color: #C0392B;
}
.greenCircle {
  composes: colorCircle;
  background-color: #5BAC31;
}
.blueCircle {
  composes: colorCircle;
  background-color: #0056C5;
}

.lowWidth {
  composes: widthLine;
  width: 5px;
}
.mediumWidth {
  composes: widthLine;
  width: 10px;
}
.bigWidth {
  composes: widthLine;
  width: 15px;
}
